<tr>
  <td class="micropost">
    <span class="content"><%= feed_item.content %></span>
  </td>
  <td class="micropost">
    <span class="expense"><%= feed_item.expense %></span>
  </td>
  <td class="micropost">
    <span class="tag"><%= feed_item.tag %></span>
  </td>
  <td class="micropost">
    <span class="timestamp">
      <%= (feed_item.created_at) %>
    </span>
  </td>
</tr>