<tr>
  <td class="micropost">
    <span class="content"><%= micropost.content %></span>
  </td>
  <td class="micropost">
    <span class="expense">$<%= micropost.expense %></span>
  </td>
  <td class="micropost">
    <span class="tag"><%= micropost.tag %></span>
  </td>
  <td class="micropost">
    <span class="timestamp">
      <%= (micropost.created_at) %>
    </span>
  </td>
</tr>