<footer>
  <nav class="bottom">
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.ehow.com/ehow-money/">Manage your expense</a></li>
      <li><a href="http://money.msn.com/">Worried about money?</a></li>
    </ul>
  </nav>
</footer>
